.flex-container {
  display:flex;
  flex-flow:row wrap;
}

.container {
    background-color: lightgrey;
    width: max-content;
    height:max-content;
    border: 2px solid green;
    padding: 50px;
    margin: 20px;
    display:flex;
    flex-direction: column;
  }

  .changeMe {
    font-size: 11px;
  }
  
  button {
    width:min
  }
 