div {
    padding: 10px;
    margin: 5px;
}

.container {
    text-align: center;
    min-width: 300px;
}

.outerDiv {
    color: #444;
    display: inline-block
}

.firstDiv {
    background-color: yellow;
}

.secondDiv {
    background-color: lightblue;
}

.thirdDiv {
    background-color: lightpink;
}

.insideDiv {
    background-color: inherit;
    filter: brightness(90%);
    opacity: 0.75;
    font-size: 1.2em;
    color: #111;
}

button {
    padding: 10px 30px;
}