@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,400;1,700&display=swap');

:root {
  --primaryColor: rgb(0, 0, 0);
  --navColor1: #ffffff;
  --navColor2: #f4f4f2;
  --navColor3:#e8e8e8;
  --navColor4: #bbbfca;
  --navColor5: #777d86;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: 'Arvo', serif;
  font-size: 2rem;

}

/* Navigation Menu */

 
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,0.7);
  transform: translateX(-100vw);
} 

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav, nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}
nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: rgb(65, 65, 65);
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover{
  transform:scale(1.3);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: rgb(65,65,65);
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity:0;
}
 
nav li a:hover::before{
  opacity: 1;
} 

nav li a::after {
  content: "";
  width: 30vw;
  height: 3px;
  background-color: rgb(65,65,65);
  position: absolute;
  top: 47.5%;
  right: 0;
  opacity:0;
}
 
nav li a:hover::after{
  opacity: 1;
} 

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}
nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}
nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}
nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}
nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.25s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.25s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.25s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.25s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.25s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.25s linear 0.25s both;
}

.slide-out-2 {
  animation: slide-out 0.25s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.25s linear 0.25s both;
}

.slide-out-4 {
  animation: slide-out 0.25s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.25s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Menu Bars*/

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* Sections */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
  text-align: center;
}

section#home {
  background-image: url("https://images.unsplash.com/photo-1539883305165-f691affc6c54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  background-size: cover;
  background-position: center center;
}

section#home a {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#about {
  background-color: var(--navColor2);
}

section#skills {
  background-color: var(--navColor3);
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

/* Media Query:*/
@media (max-width: 1000px) {
  section#home a {
    font-size: 1rem;
    font-weight: 700;
    top: 1rem;
    left: 1rem;

  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}