@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;800&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #04BF71;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(0, 0, 0);
  --on-background-alt: rgba(0, 0, 0, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.274);
}

[data-theme="dark"] {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt:#04BF71;
  --background: #121212;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Roboto Slab', serif;
}



section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: var(--on-background-alt);
  font-size: 10rem;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: normal;
}

.title {
  font-size: 6rem;
  font-weight: 900;
  color: #04BF71;
}


/* Navigation */
nav {
  z-index: 10;
  position: fixed;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  padding: 2.5rem;
  width: 100vw;
  background: white;
}

a {
  margin-right: 2.5rem;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: .3rem solid transparent;
  font-weight: 500;
}

a:hover,
a:focus {
  color: var(--on-background);
  border-bottom: .3rem solid;
}

.brand {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: .2rem;
}

/* Home Section */
.title-group {
  text-align: center;
}

/* About Section */


.about-container {
  display: flex;
  padding: 5rem;
  
}

.section-2 {
  background-color: #ffffff;
}

.image-container {
  border: .3rem solid #04BF71;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-right: 5rem;
  margin-left: 5rem;
  width: auto;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

img {
  height:30rem;
  width:30rem;
}


button {
  margin-top: 1.5rem;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto Slab', serif;
  min-width: 19rem;
  height: 8rem;
  cursor: pointer;
  border-radius: 1rem;
  margin-right: 1rem;
  border: .2rem solid #04BF71;
  font-size: 2rem;
  outline: none;
}



button:hover:not(.outline) {
  filter: brightness(110%);
}

.primary {
  background: var(--primary-color);
  color: var(--on-primary);
}

.secondary {
  border: .2rem solid var(--secondary-color);
}


.outline {
  background: var(--background);
  color: var(--on-background);
}

.outline:hover {
  background: var(--primary-color);
  color: var(--on-primary);
}

/* Footer */

footer{
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-size: large;
}

/* Dark Mode Toggle */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 2.5rem;
  top: 3rem;
}

.theme-switch-wrapper span {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.toggle-text {
  position: relative;
  top: -.4rem;
  right: .5rem;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 3.4rem;
  position: relative;
  width: 6rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: .4rem;
  content: "";
  height: 2.6rem;
  left: .4rem;
  position: absolute;
  transition: 0.4s;
  width: 2.6rem;
}

input:checked + .slider {
  background: #04BF71;
}

input:checked + .slider::before {
  transform: translateX(2.6rem);
}

.slider.round {
  border-radius: 3.4rem;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 2.5rem;
  margin-right: .5rem;
}

.fa-moon {
  color:white;
}
