section {
 background-color: greenyellow;

width: 40%;
height: 250px;
padding: 10px;
font-size: 30px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: center;
  }

