body {
    background: #d2d2d2;
}

h1 {
    margin: 1rem 0 1rem 3rem;
    text-transform: uppercase;
    font-family: Helvetica;
    color: #292929;
}

div {
    width: 35rem;
    height: 8rem;
    line-height: 4;
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.25rem;
    margin: 2rem auto;
    cursor: pointer;
    border: 2px solid #292929;
  }
  
  .good {
    background: #185901;
  }
  
  .bad {
    background: #980101;
    color: #FFF;
  }