.wrapper {
    width: 450px;
}

.body {
    display:flex;
    justify-content: center;
}

.container {
    display:flex;
    justify-content: center;
}

/* heading */
.heading {
    font-family: 'Roboto', sans-serif;
    font-weight: heavy;
    text-align: center;
    font-size: 23px;
}

/* TO DO BOX */
#todoItems {
    border: 1px solid black;
    background: #fff;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
    padding-inline-start: 0;
}

#todoItems li {
    font-family: 'Roboto', sans-serif;
    padding: 1vw 0 0.5vw 0vw;
    list-style: none;
    border-bottom: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #todoTextInput {
    outline: none;
    font-size: 16px;
    font-weight: heavy;
    font-family: roboto;
    border: 1px solid black;
    width:80%;
    background-color:white;
  }

  #textInput {
    height: 40px;
    font-size: 16px;
    font-weight: heavy;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    margin-bottom: -17px;
  }

  /* ADD A TODO INPUT  */
::-webkit-input-placeholder {
    color:black;
    font-size:16px;
 }

 /*  AMOUNT OF TODOS TODAY */
#todosToday {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    text-align:center;
    font-weight:lighter;
  }

   /* REMOVES BLUE BORDER FROM ADD TODO BAR */
input {
    outline:none;
  }

   /* DELETE BUTTON */
.deleteButton {
    border: 0px solid black;
    background-color: white;
    width: 10%;
  }

  .fas, .far, .fa-circle:before, .fa-check-circle:before {
    font-size: 20px;
    color: black;
    margin-left:3.5%;
    width:10%;
  }

  .fa-times:before {
    font-size:15px;
     width:10%;
  }
  
  
  